.menuGame {
  width: 250px;
  background-color: aquamarine;
  margin-left: 700px;
  margin-top: 200px;
}

.newGame {
  background-color: #1a8cff;
  border-radius: 50px;
  border-color: #1a8cff;
  color: aliceblue;
  font-size: 30px;
  margin-left: 45px;
  margin-top: 10px;
}

.undo {
  background-color: white;
  border-radius: 50px;
  color: #1a8cff;
  font-size: 20px;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.redo {
  background-color: white;
  border-radius: 50px;
  color: #1a8cff;
  font-size: 20px;
}

.edit {
  background-color: white;
  border-radius: 50px;
  color: #1a8cff;
  font-size: 20px;
}

.hint {
  background-color: white;
  border-radius: 50px;
  color: #1a8cff;
  font-size: 20px;
}

.newGameBar {
  width: 200px;
  background-color: #e6eeff;
  margin-left: 25px;
}
.header {
  font-size: 20px;
}

.easy {
  font-size: 15px;
  color: #1a8cff;
  width: 200px;
  height: 30px;
  background-color: #e6eeff;
  border-color: #1a8cff;
}

.medium {
  font-size: 15px;
  color: #1a8cff;
  width: 200px;
  height: 30px;
  background-color: #e6eeff;
  border-color: #1a8cff;
}

.hard {
  font-size: 15px;
  color: #1a8cff;
  width: 200px;
  height: 30px;
  background-color: #e6eeff;
  border-color: #1a8cff;
}

.expert {
  font-size: 15px;
  color: #1a8cff;
  width: 200px;
  height: 30px;
  background-color: #e6eeff;
  border-color: #1a8cff;
}
