.menuGame {
  width: 300px;
  background-color: aquamarine;
  /* margin-left: 700px;
  margin-top: 200px; */
  border: 1px solid blue;
  align-self: center;
}

.newGame {
  background-color: #1a8cff;
  border-radius: 50px;
  border-color: #1a8cff;
  color: aliceblue;
  font-size: 30px;
  margin-left: 45px;
  margin-top: 10px;
}

.undo {
  background-color: white;
  border-radius: 50px;
  color: #1a8cff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.redo {
  background-color: white;
  border-radius: 50px;
  color: #1a8cff;
  font-size: 20px;
}

.edit {
  background-color: white;
  border-radius: 50px;
  color: #1a8cff;
  font-size: 20px;
}

.hint {
  background-color: white;
  border-radius: 50px;
  color: #1a8cff;
  font-size: 20px;
}
