.menuGame {
  margin-left: 145px;
  margin-top: -100px;
}

.newGame {
  font-family: "Poppins";
  font-size: 30px;
  background: none;
  transition: 0.5s ease;
  padding: 20px 30px;
  margin: 10px;
}

.newGame:hover {
  transform: translate(5px, -5px);
}

.undo {
  font-family: "Poppins";
  font-size: 20px;
  background: none;
  color: #3498db;
  border-color: #3498db;
  border-radius: 10px;
}

.undo:hover {
  background: #3498db;
  color: white;
}

.redo {
  font-family: "Poppins";
  font-size: 20px;
  margin-left: 15px;
  background: none;
  color: #3498db;
  border-color: #3498db;
  border-radius: 10px;
}

.redo:hover {
  background: #3498db;
  color: white;
}

.solve {
  font-family: "Poppins";
  font-size: 20px;
  margin-left: 15px;
  background: none;
  color: #3498db;
  border-color: #3498db;
  border-radius: 10px;
}

.solve:hover {
  background: #3498db;
  color: white;
}

.newGameBar {
  display: flex;
  flex-direction: column;
  margin-right: 350px;
}

.header {
  font-family: "Poppins";
  font-size: 20px;
  margin-left: 17px;
}

.easy {
  font-family: "Poppins";
  font-size: 20px;
  background: none;
  background-color: #50b1f1;
  color: white;
  border-color: #50b1f1;
}
.easy:hover {
  background-color: white;
  color: #50b1f1;
}

.medium {
  font-family: "Poppins";
  font-size: 20px;
  background: none;
  background-color: #50b1f1;
  color: white;
  border-color: #50b1f1;
}

.medium:hover {
  background-color: white;
  color: #50b1f1;
}

.hard {
  font-family: "Poppins";
  font-size: 20px;
  background: none;
  background-color: #50b1f1;
  color: white;
  border-color: #50b1f1;
}

.hard:hover {
  background-color: white;
  color: #50b1f1;
}

.expert {
  font-family: "Poppins";
  font-size: 20px;
  background: none;
  background-color: #50b1f1;
  color: white;
  border-color: #50b1f1;
}

.expert:hover {
  background-color: white;
  color: #50b1f1;
}
