.chart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-header{

}

.chart-container--chart{
    border: 1px solid grey;
    height: 1000px;
    width: 1000px;
}